body {
 color: #000;
 margin-left: 0;
 margin-top: 0px;
}

a:hover {
 background-color: #75ECFD;
}

#sidebar {
 background: #f0f0f0;

 /* -moz-border-radius: 0px 0px 20px 0px; */
 /* -moz-box-shadow: 5px 5px 5px #777; */

 /* -webkit-border-radius: 0px 0px 20px 0px; */
 /* -webkit-box-shadow: 5px 5px 5px #777; */

 /* border-radius: 0px 0px 20px 0px; */
 /* box-shadow: 5px 5px 5px #777; */

 border-right: 1px solid;
 border-bottom: 1px solid;
 font-size: 80%;
 float: left;
 width: 125px;
 padding-left: 5px;
 padding-top: 10px;
 padding-bottom: 10px;
}

#sidebar a {
 color: #000;
 text-decoration: none;
}

#main {
 margin-left: 135px;
 padding-left: 10px;
 padding-top: 10px;
 /* IE ignores body.width but does work if we set main.width... */
 width: 50em;
}
