body {
 color: #000;
 margin-left: 0;
 margin-top: 0px;
}

a:hover {
 background-color: #75ECFD;
}

#sidebar {
 background: #f0f0f0;

 border-right: 1px solid;
 border-bottom: 1px solid;
 font-size: 80%;
 float: left;
 width: 125px;
 padding-left: 5px;
 padding-top: 10px;
 padding-bottom: 10px;
}

#sidebar a {
 color: #000;
 text-decoration: none;
}

#main {
 margin-left: 135px;
 padding-left: 10px;
 padding-top: 10px;
}

#main a {
 color: #000;
 text-decoration: none;
}

